---
//agenda.astro
//@ts-nocheck
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { getEvents } from "../js/backend.mjs";

const events = await getEvents();
---

<Layout>
    <h1 class="text-6xl">Agenda</h1>
    {events.map((event) => <Card {...event} />)}
</Layout>
